*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: aliceblue;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}
.box{
    background: peachpuff;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0, 1);
}