body {
    margin: 0;
    padding: 0;
    font-family: "Manjari", sans-serif;
    background-color: #ffffff;
    min-height: 100vh;
}

main {
    padding-bottom: 50px;
}

/* Main Dashboard Container */
.dashboard-container {
    display: flex;
    gap: 70px;
    padding: 20px 18px;
    align-items: flex-start;
}

/* Left Column - Sales Order and Item Details */
.dashboard-left-column {
    display: flex;
    flex-direction: column;
    gap: 75px;
    margin-left: 30px;
    flex: 0 0 650px; 
    padding-top: 63px;
    
}

/* Right Column */
.dashboard-right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 0 650px; 
    padding-top: 63px;
}