.welcome_admin {

    position: relative;
    top: 50px;
    height: 70px;
    left: 0px;
    width: 100%;

    background-color: #F3F3F3;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(126, 126, 126, 0.2);

    padding-left: 26px;
}

.welcome_admin h1 {
    position: absolute;
    font-family: "Manjari", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;

    padding-top: 8px;
    
}

.welcome_admin p {
    position: absolute;
    font-family: "Manjari", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #757575;
    

    padding-top: 30px; 
}