.salesorder {
    position: fixed;
    top: 150px;
    left: 18px;
    min-width: 650px;
    
    border-collapse: separate; 
    border-spacing: 0; 
    border-radius: 10px; 
    overflow: hidden;
    border: 1px solid rgba(126, 126, 126, 0.2);   
    font-family: "Manjari", sans-serif;
    

    
}

.salesorder th {
    background-color: #f3f3f3;
    text-align: left;
    padding-left: 8px;
    padding-top: 16px;

    font-family: "Manjari", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
}

.salesorder tr:nth-child(2) {
    background-color: #f0f8ff;
    color: #5a5a5a;

    font-family: "Manjari", sans-serif; 
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.salesorder tr:nth-child(2) td {
    padding-left: 8px;
    padding-top: 6px;
    padding-bottom: 6px; 
}

.salesorder tr:nth-child(3) {
    background-color: #ffffff;

    font-family: "Manjari", sans-serif; 
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.salesorder tr:nth-child(3) td {
    padding-left: 8px; 
    color: #979797;
}
