.welcome_admin {

    position: fixed;
    top: 56px;
    left: 0px;
    width: 100%;

    background-color: #F3F3F3;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(126, 126, 126, 0.2);

    padding-left: 18px;
}

.welcome_admin h1 {
    font-family: "Manjari", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;

    padding-top: 8px;
    padding-bottom: 4px;
}

.welcome_admin p {
    font-family: "Manjari", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #757575;

    padding-bottom: 8px; 
}
